.story {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.story__click {
	height:350px;
	width:350px;
	margin:22px 15px 22px 15px;
	border: 5px dotted #fdda1c;
	border-radius: 50%;
}

.story--box {
	margin:30px 15px 30px 15px;
	height: 220px;
	width: 220px;
	border: 5px dotted #fdda1c;
	border-radius: 50%;
}

.story--preview {
	padding: 65px 5px 65px 5px;
	font-family: 'Major Mono Display', monospace;
	color:#fdda1c;
	text-align: center;
	font-size: 1.25em;
}

.story__hide {
	display: none;
	font-family: 'Space Mono', monospace;
	padding: 65px 30px 65px 30px;
}

.story--title {
	font-size: 1em;
	color: #FFFFFF;
}

.story--content {
	font-size: 0.8em;
	color: #FFFFFF;
}

.story--link {
	font-size: 0.75em;
	color:#fdda1c;
	text-decoration-style: dotted;
	padding-left: 15px;
	
}
